@import url('global.css');
@import url('header.css');
@import url('body.css');
@import url('categories.css');
@import url('navigation.css');
@import url('products.css');
@import url('know-more.css');
@import url('footer.css');
@import url('menu.css');
@import url('reset.css');
